.booking{
	padding-right: 0;
}

.booking_title{
	text-align: center;
}

.booking_title h1{
	margin-bottom: 0;
}

.booking_text{
	text-align: center;
}

.booking_text p{
	margin-top: 0;
}