.navbar{
	margin-bottom: 80px;
}

.down_block{
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 10px;
	background-color: white;
	width: fit-content;
	border-radius: 5px;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, .1);
	padding: 10px;
	margin-left: auto;
}

.download{
	z-index: 2;
	margin-top: 15px;
}

.download a{
	cursor: pointer;
	color: black;
	display: flex;
	padding: 5px 15px;
	border: 1px solid black;
	border-radius: 5px;
	text-decoration: none;
}

.download p{
	margin: 8px 5px 0 0;
}

.download img{
	height: 35px;
}

.lang-1{
	z-index: 2;
	display: flex;
	flex-direction: row;
	padding: 5px 0;
}

.lang-1 p{
	margin: 3px 5px 0 5px;
}

.title_agree{
	text-align: center;
	margin-top: -80px;
}

.title_agree b{
	font-size: 20px;
}

.kz_block, .rus_block{
	font-size: 20px;
}

.bold{
	font-weight: bold;
}

a{
	color: blue;
}

.kz_block{
	display: none;
}

.checkbox{
  display: flex;
  --width: 50px;
  --height: 25px;
  --offset: 1px;
  --duration: 0.3s;
  cursor: pointer;
}

.checkbox:hover{
  filter: brightness(1.2);
}

.checkbox_div{
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--width);
  border:0.7px solid;
  border-color: black;
  background-image: url(rus1.jpg);
  background-size: contain;
  transition: var(--duration);
}

.checkbox_input {
  display: none;
}

.checkbox_input:checked ~ .checkbox_div {
  background-image: url(kaz1.jpg);
  background-size: contain;
}

.checkbox_input:checked ~ .checkbox_div::before {
  background-image: url(kaz2.jpg);
  background-size: contain;
  /* border: solid; */
  border-color: black;
  left: calc(var(--width) - var(--height) + var(--offset));
}

.checkbox_div::before {
  content: '';
  position: absolute;
  top: var(--offset);
  left: var(--offset);
  width: calc(var(--height) - 2 * var(--offset));
  height: calc(var(--height) - 2 * var(--offset));
  background-image: url(rus2.jpg);
  background-size: contain;
  border:0,7px solid;
  border-color: black;
  border-radius: 50%;
  transition: var(--duration);
}
